.card{
    background-color: #fbfbfb;
    border: 1px solid #e4e1e1;
}

.form-highlight {
    animation: highlightAnimation 2s ease-out;
  }
  
  @keyframes highlightAnimation {
    0% {
      background-color: yellow;
    }
    100% {
      background-color: transparent;
    }
  }
  