<!-- src/app/device-register/device-register.component.html -->
<div class="container mt-5">
  <form [formGroup]="deviceForm" (ngSubmit)="addDevice()" class="row g-3">
    <div class="col-md-3">
      <label for="name" class="form-label">Nome:</label>
      <input id="name" formControlName="name" type="text" class="form-control">
    </div>
    <div class="col-md-3">
      <label for="description" class="form-label">Descrição:</label>
      <input id="description" formControlName="description" type="text" class="form-control">
    </div>
    <div class="col-md-3">
      <label for="manufacturer" class="form-label">Fabricante:</label>
      <input id="manufacturer" formControlName="manufacturer" type="text" class="form-control">
    </div>
    <div class="col-md-3 d-flex align-items-end">
      <button type="submit" class="btn btn-primary w-100">Registrar Dispositivo</button>
    </div>
  </form>
</div>
