/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Uma fonte mais suave */
  }

  .title{
    font-size: 1.2rem;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
    margin: 1rem 0;
  }